body {
  background-color: #303030;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
  padding: 20px;
  /*margin: 50px;
    border: 50px;
    height: 100px;*/
}
button {
  display: grid;
  place-items: center;
  background-color: #4a4a4a;
  background-image: url("/womginx/logo.png");
  color: #a7a7a7;
  border: none;
  border-color: black;
  display: inline-block;
  font-size: 14px;
  padding: 40px;
  border-radius: 10px;
  transition-duration: 0.5s;
  margin: 0px;
}
.menuButton {
  background-color: #464646;
  color: #9a9a9a;
  border: none;
  border-color: black;
  display: inline-block;
  font-size: 14px;
  padding: 30px;
  border-radius: 10px;
  transition-duration: 0.5s;
  margin: 25px;
}
a {
  color: #3d3d3d;
}
#buttons-wrapper {
  display: grid;
  place-items: center;
}
#proxy {
  display: grid;
  place-items: center;
  background-color: #1c1c1c;
  height: 100px;
  width: 80px;
  padding: 15px;
  border-radius: 10px;
  margin: 20px;
}
button:hover {
  background-color: #404040;
}
#home {
  background-image: url("/assets/img/home.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
}
#proxies {
  background-image: url("/assets/img/proxies.png");
  background-repeat: no-repeat;
  background-position: center;
  /*background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;*/
}
#games {
  background-image: url("/assets/img/games.png");
  background-repeat: no-repeat;
  background-position: center;
}
#settings {
  background-image: url("/assets/img/settings.png");
  background-repeat: no-repeat;
  background-position: center;
}
#about {
  background-image: url("/assets/img/about.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px;
}
#menu {
  text-align: center;
  background-color: #3d3d3d;
  width: 99%;
  height: 130px;
  border-radius: 10px;
}
